.padre{
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto; /* Margen automático a izquierda y derecha, 50px arriba y abajo */

}


.first-group,
.second-area {
    width: 50%;
    /* Ancho al 50% del contenedor padre */
    float: left;
    /* Alineación lado a lado */
    padding: 10px;
}

mat-form-field {
    width: 100%;
    /* Ancho al 100% de su contenedor */
}

/* Asegúrate de limpiar el float después de los grupos */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.submit {

    display: block;
    margin-left: auto;
    margin-right: auto;
}