<div class="padre">
    <div class="terminos">
        <h2>Términos y Condiciones de Arrendamiento Máquina BauerBg40</h2>
        <p>Conoce las políticas de renta de este equipo</p>
        <h3>Descripción de la Máquina</h3>
        <p>El Arrendador arrienda al Arrendatario la siguiente máquina de cimentación profunda:</p>
        <ul>
            <li><strong>Marca:</strong> [Marca de la Máquina]</li>
            <li><strong>Modelo:</strong> [Modelo de la Máquina]</li>
            <li><strong>Número de Serie:</strong> [Número de Serie de la Máquina]</li>
        </ul>
        <h3>Duración del Arrendamiento</h3>
        <p>El arrendamiento comenzará el [Fecha de Inicio del Contrato] y finalizará el [Fecha de Finalización del
            Contrato].</p>
        <h3>Costo del Arrendamiento</h3>
        <p>El Arrendatario pagará al Arrendador la cantidad total de $[Monto Total del Arrendamiento] MXN por el período
            de arrendamiento, pagaderos en [Número de Pagos] pagos mensuales de $[Monto de Cada Pago] MXN.</p>
        <h3>Depósito de Seguridad</h3>
        <p>El Arrendatario pagará un depósito de seguridad de $[Monto del Depósito de Seguridad] MXN al momento de la
            firma del contrato. Este depósito será reembolsado al Arrendatario al final del contrato, sujeto a cualquier
            deducción por daños o incumplimiento de los términos del contrato.</p>
        <form id="contract-form">
            <input type="checkbox" id="accept-checkbox">
            <label for="accept-checkbox" id="accept-checkbox-label">Acepto los términos y condiciones del
                contrato</label>
        </form>
    </div>
    <div class="pagos">
        <div class="izquierda">
            <div class="cuadro-reservar">
                <div class="titulo">
                    <h2> $19,899 MXN día</h2>
                </div>
                <div class="fechas">
                    <div class="inicio">
                        <h3>Fecha de Inicio</h3>
                        <p>10/05/24</p>
                    </div>
                    <div class="finalizacion">
                        <h3>Fecha de finalización</h3>
                        <p>09/06/24</p>
                    </div>
                </div>
                <div class="penultima-fila">
                    <div class="izquierda">
                        <a>$19,899 MXN x 30 días</a>
                    </div>
                    <div class="derecha">
                        <p>$596,970 MXN</p>
                    </div>
                </div>
                <div class="ultima-fila">
                    <div class="izquierda">
                        <p>Total antes de impuestos</p>
                    </div>
                    <div class="derecha">
                        <p>$596,970 MXN</p>
                    </div>
                </div>
                <div class="ultima-fila">
                    <div class="izquierda">
                        <p>Total después de impuestos</p>
                    </div>
                    <div class="derecha">
                        <p>$693,923 MXN</p>
                    </div>
                </div>
                <div class="ultima-fila">
                    <div class="izquierda">
                        <p>Porcentaje de apartado</p>
                    </div>
                    <div class="derecha">
                        <p>10%</p>
                    </div>
                </div>
                <div class="ultima-fila">
                    <div class="izquierda">
                        <p>Total apartado</p>
                    </div>
                    <div class="derecha">
                        <p>$59,697 MXN</p>
                    </div>
                </div>
                <div class="ultima-fila">
                    <div class="izquierda">
                        <button class="boton">Transferencia</button>
                    </div>
                    <div class="derecha">
                        <button class="boton">Depósito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>