.div1 {
    text-align: center;
    margin-bottom: 20px; /* Espacio adicional debajo del título */
}

.abuelo {
    display: flex;
    justify-content: center;
}

.padre {
    display: flex;
    flex-direction: column; /* Cambiar a disposición de columnas */
    background-color: #f0f0f0; /* Color de fondo más suave */
    justify-content: center;
    width: 600px;
    padding: 20px; /* Añadir relleno para separar los elementos del borde */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.seccion1, .seccion2 {
    margin-bottom: 20px; /* Espacio adicional entre secciones */
}

.design {
    width: 100%; /* Ancho completo para los campos de entrada */
}

.boton {
    text-align: center; /* Centrar el botón */
    margin-top: 20px; /* Espacio adicional encima del botón */
}

