<h2>El sistema te proporcionará los equipos almeja para muro milan que más se adecúen a los requerimientos de tu proyecto,
    contestando el siguiente formulario:
</h2>
<div class="padre">
    <div class="contenedor">
        <div class="primer-grupo">
            <div class="datos-cliente">
                <h2>Datos Cliente</h2>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Nombre completo</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Nombre de la empresa </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Teléfono</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="ubicacion-tiempo">
                <h2>Ubicación y Tiempo</h2>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Dirección</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Ciudad</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Estado</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Tiempo de renta en meses</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    
        <div class="segundo-grupo">
            <div class="datos-proyecto">
                <h2>Datos del Proyecto</h2>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Tipo de obra o proyecto</mat-label>
                        <mat-select>
                            <mat-option value="one">Edificación</mat-option>
                            <mat-option value="two">Infraestructura</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Ancho de excavación</mat-label>
                        <mat-select>
                            <mat-option value="one">45 m</mat-option>
                            <mat-option value="two">50 m</mat-option>
                            <mat-option value="one">60 m</mat-option>
                            <mat-option value="two">80 m</mat-option>
                            <mat-option value="two">100 m</mat-option>
                            <mat-option value="one">120 m</mat-option>
                            <mat-option value="two">Superior a 120 m</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Profundidad de excavación máxima</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Longitud de excavación (perímetro)</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="design">
                        <mat-label>Tipo de suelo</mat-label>
                        <mat-select>
                            <mat-option value="one">Suelos blandos tipo 1</mat-option>
                            <mat-option value="two">Suelos semi duros tipo 2</mat-option>
                            <mat-option value="one">Suelos duros tipo 3</mat-option>
                            <mat-option value="two">Suelos con brea y/o roca</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        </div>
    </div>
</div>
<div>
    <button mat-raised-button color="primary">Siguiente</button>
</div>