<div class="calendar">
    <div class="month">
        <div class="month-header">Noviembre 2024</div>
        <div class="weekdays">
            <div class="weekday">Lun</div>
            <div class="weekday">Mar</div>
            <div class="weekday">Mié</div>
            <div class="weekday">Jue</div>
            <div class="weekday">Vie</div>
            <div class="weekday">Sáb</div>
            <div class="weekday">Dom</div>
        </div>
        <div class="days">
            <!-- Semana 1 -->
            <div class="day rented">1<br>Máquina #001</div>
            <div class="day rented">2<br>Máquina #002</div>
            <div class="day reserved">3<br>Máquina #003</div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <!-- Semana 2 -->
            <div class="day rented">4<br>Máquina #001</div>
            <div class="day rented">5<br>Máquina #002</div>
            <div class="day rented">6<br>Máquina #001</div>
            <div class="day rented">7<br>Máquina #003</div>
            <div class="day rented">8<br>Máquina #002</div>
            <div class="day rented">9<br>Máquina #001</div>
            <div class="day reserved">10<br>Máquina #003</div>
            <!-- Semana 3 -->
            <div class="day rented">11<br>Máquina #002</div>
            <div class="day rented">12<br>Máquina #003</div>
            <div class="day rented">13<br>Máquina #002</div>
            <div class="day rented">14<br>Máquina #001</div>
            <div class="day rented">15<br>Máquina #002</div>
            <div class="day rented">16<br>Máquina #001</div>
            <div class="day reserved">17<br>Máquina #003</div>
            <!-- Semana 4 -->
            <div class="day rented">18<br>Máquina #001</div>
            <div class="day rented">19<br>Máquina #002</div>
            <div class="day rented">20<br>Máquina #001</div>
            <div class="day rented">21<br>Máquina #003</div>
            <div class="day rented">22<br>Máquina #002</div>
            <div class="day rented">23<br>Máquina #001</div>
            <div class="day reserved">24<br>Máquina #003</div>
            <!-- Semana 5 -->
            <div class="day rented">25<br>Máquina #002</div>
            <div class="day rented">26<br>Máquina #003</div>
            <div class="day rented">27<br>Máquina #002</div>
            <div class="day rented">28<br>Máquina #001</div>
            <div class="day rented">29<br>Máquina #002</div>
            <div class="day rented">30<br>Máquina #001</div>
            <div class="day"></div>
        </div>
    </div>
</div>