<div class="contract">
    <h2>Precontrato Máquina bauer bg40</h2>
    <p>para alquilar la máquina </p>

    <h3>Detalles del Alquiler</h3>
    <p>Máquina: [Nombre de la máquina]</p>
    <p>Fecha de alquiler: [Fecha de inicio de alquiler- Fecha de finalización del alquiler]</p>
    <p>Tarifa de alquiler: [Tarifa de alquiler]</p>
    <p>Máquina: [mONTO DEP+]</p>

    <h3>Descripción de la Máquina:</h3>
    <p>Tipo de Máquina: [Especificar]</p>
    <p>Marca: [Especificar]</p>
    <p>Modelo: [Especificar]</p>

    <h3>Proceso de Conexión:</h3>
    <p>El Cliente reconoce que la plataforma actúa como intermediario para facilitar la conexión entre El Cliente y El
        Propietario para el alquiler de la máquina mencionada.</p>
    <p>Al aceptar este contrato, El Cliente está de acuerdo en pagar una comisión a la plataforma por el servicio de
        conexión.</p>

    <h3>Acuerdo de Confidencialidad:</h3>
    <p>El Cliente comprende y acepta que la información de contacto de El Propietario será proporcionada únicamente
        después de la aceptación de este contrato.</p>
    <p>El Cliente se compromete a no intentar establecer contacto directo con El Propietario sin seguir el proceso
        establecido por la plataforma.</p>

    <h3>Responsabilidades:</h3>
    <p>La plataforma no asume ninguna responsabilidad por los términos del alquiler entre El Cliente y El Propietario.
    </p>
    <p>El Cliente y El Propietario son responsables de negociar los términos del alquiler, incluidos los precios y la
        duración, sin la participación directa de la plataforma</p>

    <p>Al aceptar este contrato, El Cliente reconoce y acepta los términos establecidos anteriormente y comprende que la
        plataforma asegura su comisión mediante la facilitación del proceso de conexión. Una vez aceptado este contrato,
        se proporcionará la información de contacto de El Propietario para que El Cliente pueda comunicarse y coordinar
        el alquiler de la máquina directamente con él.</p>
        
        <button (click)="aceptarContrato()">Aceptar el contrato</button>

</div>