<footer>
    <div>
        <p>DeepRent</p>
        <a href="">Privacidad</a>
        <a href="">Términos</a>
        <a href="">Mapa del sitio</a>
        <a href="">Información de la compañía</a>
    </div>
    <div class="iconos">
        <a href="">Español (MX)</a>
        <a href="">$ MXN</a>
        <a href=""><img src="/assets/images/facebook.png" alt=""></a>
        <a href=""><img src="/assets/images/instagram.png" alt=""></a>
        <a href=""><img src="/assets/images/twitter.png" alt=""></a>
    </div>
</footer>