.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
    margin-top: 0;
}

.maintenance {
    margin-top: 20px;
}

.maintenance-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.maintenance-item:last-child {
    margin-bottom: 0;
}

.maintenance-item .info {
    display: flex;
    justify-content: space-between;
}

.maintenance-item .info .title {
    font-weight: bold;
}

.maintenance-item .info .status {
    color: #f00; /* Color para los mantenimientos vencidos */
}