.abuelo{
    display: flex;
    justify-content: space-around;
}

.texto-asesoramiento {
    background-color: #f2f2f2; /* Color de fondo */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    
}

.texto-asesoramiento h2 {
    color: #333; /* Color del texto */
    font-size: 24px;
    font-weight: bold;
}

.deep {
    color: #FF874A; /* Color verde para DeepRent */
}

.texto-asesoramiento p {
    color: #666; /* Color del texto */
    font-size: 18px;
    margin-bottom: 10px;
}


.padre {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 700px;

}

.contenedor {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en filas o columnas según el ancho */
}

.primer-grupo, .segundo-grupo {
    flex: 1; /* Ocupa el espacio disponible equitativamente */
    min-width: 0; /* Previene que los elementos se desborden del contenedor */
}

.datos-cliente, .ubicacion-tiempo, .datos-proyecto {
    width: 100%; /* Asegura que los elementos ocupen todo el ancho de su contenedor */
}

.design{
    width: 100%; /* Los campos de formulario ocupan todo el ancho disponible */
    padding: 0 20px; /* Añade un padding a los lados de cada campo de formulario */
}


button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #FF874A; /* Color de fondo */
    color: #fff; /* Color del texto */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #fb5908; /* Cambio de color de fondo al pasar el ratón */
    color: #fff; /* Cambio de color del texto al pasar el ratón */
}


.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  






