<div class="main">
    <section class="half-section publica">
        <div class="first-section">
            <h2>¿Listo para empezar a rentar?</h2>
            <a class="btn" routerLink="/crear-cuenta" routerLinkActive="active">Publica tu máquina</a>
        </div>
    </section>

    <section class="half-section cotiza">
        <div class="second-section">
            <h2>¿Necesitas una máquina?</h2>
            <a class="btn" href="">Buscar un equipo</a>
        </div>
    </section>
</div>
