<div class="main">
    <section class="half-section publica">
        <div class="first-section">
            <h2>Publicar una máquina</h2>
            <a class="btn" routerLink="/crear-producto" routerLinkActive="active">Publica tu máquina</a>
        </div>
    </section>

    <section class="half-section cotiza">
        <div class="second-section">
            <h2>¿Necesitas una máquina?</h2>
            <a class="btn" routerLink="/seleccionar-tipo-maquinas">Buscar un equipo</a>
        </div>
    </section>
</div>
