<div class="master">
    <div class="search-container">
        <div>
            <h1>Si ya conoces el equipo que requieres</h1>
        </div>
        <div class="barra">
            <input type="text" class="search-input" placeholder="Encuentra tu máquina">
            <img class="search" src="../../../assets/images/search.png" alt="Buscar" class="search-icon">
        </div>
    </div>
    
    <div>
        <div class="precontenedor">
            <h2>¿Necesitas una <span class="deep">asesoría?</span> DeepRent enceuntra el equipo perfecto para tu proyecto.</h2>
        </div>
        <div class="contenedor">
            <a routerLink="/cuestionario-maquinas-perforadoras">
                <div class="square">    
                    <h2>Máquinas Perforadoras</h2>
                </div>
            </a>
            <a routerLink="/cuestionario-gruas">
                <div class="square">
                    <h2>Grúas</h2>
                </div>
            </a>
            <a routerLink="/cuestionario-hincadoras-de-pilotes">
                <div class="square">
                    <h2>Hincadoras de Pilotes</h2>
                </div>
            </a>
            <a routerLink="/cuestionario-almejas-muro-milan">
                <div class="square">
                    <h2>Almejas para Muro Milan</h2>
                </div>
            </a>
        </div>
    </div>
    
</div>
